@import "../base/reset";
.container {
  width: 100%;
  max-height: calc(100vh - 35px);
  overflow-y: auto;
  padding-bottom: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 18px;
}

@media only screen and (max-width: 820px) {
  .container {
    max-height: calc(100vh - 379px);
  }
}

@media only screen and (max-width: 540px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
  }
}
