@use "../abstracts/variables" as v;

.container{
    height: fit-content;
    padding: 12px;
    border-radius: 18px;
    border: 1px v.$border solid;
    display: flex;
    flex: 0 0 264px;
    flex-direction: column;

    .item{
        text-align: start;
        font: inherit;
        width: 100%;
        border-radius: 12px;
        padding: 12px;

        &:hover:not(.active){
            background-color: rgba(v.$accent, 0.1);
        }

        &.active{
            background-color: v.$accent;
            color: v.$white;
        }
    }
}

@media only screen and (max-width: 820px) {
    .container {
      flex: auto;
    }
  }